#articles-gallery,
#socialmedia-gallery,
#other-gallery {
  background-color: $white-color;
  padding: 5rem 0;

  .gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 0;
    margin-top: 4rem;
    margin-bottom: 4rem;
  }

  .article-card {
    position: relative;
    width: 100%;
    padding-bottom: 100%; // makes it square
    overflow: hidden;
    display: block;
    text-decoration: none;
    color: inherit;

    &:hover .article-overlay {
      opacity: 1;
    }

    .article-placeholder {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      // background: $light-grey;
      display: flex;
      align-items: center;
      justify-content: center;

      i {
        font-size: 4rem;
        color: darken($light-grey, 20%);
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
      }
    }

    .article-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba($primary-color, 0.8);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      opacity: 0;
      transition: opacity 0.8s ease-in-out;
      padding: 2rem;
      z-index: 2; // overlay is above image/icon

      h3 {
        color: $white-color;
        font-size: 1.8rem;
        text-align: center;
        margin: 0 0 1.5rem 0;
      }

      .click-to-view {
        color: $white-color;
        font-size: 1.2rem;
        text-align: center;
        margin: 0;
        opacity: 0.9;
        font-style: italic;
      }
    }
  }

  .back-button {
    text-align: center;
    margin-top: 4rem;
  }
}
